em {
    font-style: italic;
}

* {
    box-sizing: border-box;
}

/*** BASE STYLES ****/
h1 {
    /** Note: fitting into 2 lines (3em normal), divided by font-size its 1.5em */
    font-size: 2em;
    line-height: 1em;
    margin-top: 0.75em;
    margin-bottom: 0.75em;
}

h2 {
    /** Note: fitting into 2 lines (3em normal), divided by font-size its 2em */
    font-size: 1.5em;
    line-height: 1em;
    margin-top: 1em; /* 1.5 / 1.5 = 1 */
    margin-bottom: 1em;
}

p {
    font-size: 1em;
    line-height: 1.5em;
    margin-bottom: 1.5em;
}

ul {
    margin-bottom: 1.5em;
}

li {
    font-size: 1em;
    line-height: 1.5em;
}

a {
    color: inherit;
    text-decoration: inherit;
}
a:hover {
    text-decoration: underline;
}

/*** OTHERS ****/

/* Idea from https://css-tricks.com/transitions-only-after-page-load/ */
.loading * {
    transition: none !important;
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -ms-transition: none !important;
    -o-transition: none !important;
}

body {
    background-color: hsl(70,10%,98%);
    font-family: georgia;
    font-size: 16px;
}

header {
    overflow: auto; /* handle the margin of inner h1 */
    /*background-color: #fbfbf4; */
    background-color: hsl(230,20%,30%);
    border-bottom: 1px solid hsl(230,20%,25%);
    color: #eee;

    transition: all 0.2s ease-in-out;

    font-size: 1.75em;
    line-height: 1em;
    padding: 0.75em 0;

    white-space: nowrap;
    overflow: hidden;
}

header .content, main .content, footer .content {
    max-width: 880px;
    padding: 0 7px;
    margin: 0 auto;
}

/* implement moving header on sufficiently large browsers */
@media screen and (min-width: 550px) {
    header {
        position: fixed;
        top: 0;
        width: 100%;
    }

    header.scrolling {
        font-size: 1.5em;
    }

    header, .header-gap {
        font-size: 1.75em;
        line-height: 1em;
        padding: 0.75em 0;
    }

    .header-gap::before {
        content: "\007C\00a0\00a0";
    }
}

main > section {
    overflow: hidden; /* prevent margin collapse between sections */
}
main > section:last-child > .content {
    margin-bottom: 6em;
}
main > section > .content {
    margin-top: 3em;
    margin-bottom: 3em;
}
main > section:nth-child(odd) {
    /** body background color **/
    background-color: hsl(70,10%,98%);

    background: linear-gradient(to bottom,
            hsl(70,10%,97%),
            hsl(70,10%,98%) 40%,
            hsl(70,10%,98%) 60%,
            hsl(70,10%,97%));
}
main > section:nth-child(even) {
    border-width: 1px 0;
    border-style: solid;

    background-color: hsl(70,5%,93%);
    border-color: hsl(70,5%,90%);
    background: linear-gradient(to bottom,
        hsl(70,5%,92%),
        hsl(70,5%,94%) 40%,
        hsl(70,5%,94%) 60%,
        hsl(70,5%,92%));
}

main a {
    color: #22d;
    white-space: nowrap; /* more readable on one line */
}

footer {
    background-color: hsl(230,20%,30%);
    border-top: 1px solid hsl(230,20%,25%);
    color: #eee;

    font-size: 1em;
    line-height: 3em;
}

footer a {
    display: inline-block;
    color: #eee;
    margin-left: 10px;
}

footer aside {
    float: right;
}

.social-media-links .fa {
    color: black;
    margin-right: 2px;
}

.social-media-links a {
    display: inline-block;
    line-height: 2em;
    height: 2em;
    margin-top: -0.25em;
    margin-bottom: 1.25em;

    padding: 0 8px;
    color: black;
    background-color: #ecedea
}

.social-media-links a:hover {
    text-decoration: none;
    color: #eee;
    background-color: #444;
}

.social-media-links a:hover .fa {
    color: #eee;
}

.project-title {
    text-decoration: underline;
}
