<!doctype html>
<html>
<head>
    <title>Carlos Fernandez</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/png" href="/assets/static/LogoDiamond_48.png"/>

    <link href="{{ getAsset('app.css') }}" rel="stylesheet"/>
</head>
<body class="loading">
    <div id="website-root">{{ renderedHtml | safe}}</div>

    {% if initialState %}
    <script type="text/javascript">
        // http://redux.js.org/docs/recipes/ServerRendering.html
        window.__PRELOADED_STATE__ = {{ initialState | dump | safe}}
    </script>
    {% endif %}
    <script src="{{ getAsset('app.js') }}" type="text/javascript"></script>
</body>
</html>
