{% extends "_layout.html" %}
{% block body %}
     <section>
        <div class="article">
            <header>
                <h1 class="title">A test article</h1>
                <div class="date">
                    <i class="fa fa-calendar" aria-hidden="true"></i>
                    July 18, 2017
                </div>
            </header>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam molestie turpis nibh, eu vulputate ex facilisis mollis. Aliquam et turpis nec erat viverra suscipit quis et velit. Maecenas auctor diam et justo scelerisque, sed consequat est eleifend. Aenean fringilla in lacus et hendrerit. Vestibulum at leo quis sapien faucibus pretium commodo a diam. Aenean et mattis dui, id dignissim arcu. In hac habitasse platea dictumst.
            </p>
            <p>
                Vivamus at pharetra est, et rutrum dolor. Fusce quis tellus ac magna elementum malesuada. In in eros ac massa elementum pharetra. Morbi venenatis maximus dui quis commodo. Phasellus pretium vulputate felis, eget faucibus lectus lacinia in. Pellentesque laoreet ipsum vestibulum dictum mattis. Vestibulum nec nibh est. Etiam eu orci ipsum. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Praesent nec purus arcu.
            </p>
            <p>     
                Morbi et leo eros. In sollicitudin convallis ex eu placerat. Quisque dui nibh, varius nec posuere eget, faucibus luctus metus. Proin maximus ligula vel urna volutpat malesuada. In nec metus eget felis cursus aliquam. Nulla facilisi. Nam aliquet velit ante. Nullam consequat lorem odio, in ullamcorper nulla lacinia volutpat. Integer tempus nisi non fringilla eleifend. Morbi dolor lectus, malesuada eget pharetra quis, finibus a mauris.
            </p>
            <p>    
                Nam orci elit, rhoncus sit amet varius ac, elementum a nibh. Mauris non scelerisque ligula, non tincidunt nisl. Phasellus eu maximus ipsum, nec feugiat purus. Proin sed urna consectetur, imperdiet lorem sit amet, cursus metus. Aenean volutpat vestibulum massa eu tristique. Fusce vel accumsan arcu. Donec condimentum sapien risus, vitae iaculis tellus accumsan id. Ut tristique ligula eget lacus tincidunt, at mattis erat lobortis. Quisque eget laoreet nisi, et dapibus diam. Fusce volutpat posuere massa id aliquet. Quisque elementum orci ac erat viverra elementum. Praesent consectetur dui vel est rutrum, ac vestibulum justo mollis.
            </p>
            <p>        
                Donec efficitur, nisi sit amet volutpat vestibulum, sapien enim condimentum tortor, ac lacinia lacus nulla a est. Etiam rutrum augue vulputate scelerisque mollis. Suspendisse imperdiet sapien erat, a ornare mauris iaculis vitae. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Aliquam erat volutpat. Nam luctus maximus risus, sed maximus leo volutpat venenatis. Vivamus luctus sed mi vel volutpat. Nunc tincidunt neque ut nibh efficitur blandit. Nullam posuere sit amet erat ac posuere. Morbi elementum, metus non vestibulum lacinia, neque purus ornare augue, vitae feugiat nisl magna eu erat. Integer id massa sit amet nulla imperdiet laoreet. Mauris nisl dui, condimentum id quam vel, aliquet tincidunt neque. Suspendisse potenti. Pellentesque purus sem, pharetra sed bibendum nec, porttitor quis enim.
            </p>
        </div>
    </section>
{% endblock %}