{% extends "_layout.html" %}
{% block body %}
    <div class="article-list">
        {% include '_article_brief.html' %}
        {% include '_article_brief.html' %}
        {% include '_article_brief.html' %}
        {% include '_article_brief.html' %}
        {% include '_article_brief.html' %}
        {% include '_article_brief.html' %}
        {% include '_article_brief.html' %}
        {% include '_article_brief.html' %}
        {% include '_article_brief.html' %}
        {% include '_article_brief.html' %}
        {% include '_article_brief.html' %}
        {% include '_article_brief.html' %}
        {% include '_article_brief.html' %}
        {% include '_article_brief.html' %}
        {% include '_article_brief.html' %}
        {% include '_article_brief.html' %}
        {% include '_article_brief.html' %}
        {% include '_article_brief.html' %}
    </div>
{% endblock %}