// header/footer color and any key interactables if any
$key-color: hsl(230,20%,30%);
$key-border-color: hsl(230,20%,25%);
$key-selected-color: black; // change later

$body-color: hsl(70,10%,98%);
$body-off-color: hsl(70,5%,93%);

// the amount of left/right padding at the smallest widths
$side-buffer: 7px;

$desktop-cutoff: 550px;
$desktop-large-cutoff: 900px;