// BLOG SPECIFIC RULES

@import '_variables';
@import '_mixins';

.article-list {
    @extend .mix-single-body-content;
    @extend .mix-centered-content;
}

.article-brief {
    display: block;
    text-decoration: none!important;
    background-color: $body-off-color;

    padding: 1em $side-buffer;
    margin-top: 1em;
    margin-bottom: 1em;
    
    border-radius: 3px;

    position: relative;
    transition: all 0.08s ease-in-out;
    
    &:hover, &:focus {
        cursor: pointer;
        background-color: $key-color;
        color: white;

        .date-line {
            color: white;
        }
    }

    .title {
        margin: 0;
    }

    .brief {
        margin-top: 0.75em;
        line-height: 1.5em;
    }
}

// allow article hover animation on desktop mode
@media screen and (min-width: $desktop-large-cutoff) {
    .article-brief {
        left: 0; // allow transition to work
        &:hover, &:focus {
            // note: left: causes a stuttering bug on mouse hover right side
            left: -$side-buffer;
        }
    }
}

.article {
    // When article is used, its the only element
    @extend .mix-centered-content;
    @extend .mix-single-body-content;
    padding: 0 $side-buffer;

    header {
        margin-bottom: 1.5em;
    }

    header h1 {
        margin: 0;
    }

    ul {
        list-style: disc inside;
    }
}