@import '_variables';

.alternating-sections {
    > section {
        // prevent margin collapse between sections
        overflow: hidden; 
    }

    > section > .content {
        margin-top: 2em;
        margin-bottom: 2em;
    }

    > section:last-child > .content {
        margin-bottom: 4em;
    }

    > section:nth-child(odd) {
        background-color: $body-color;

        background: linear-gradient(
            to bottom,
            $body-border-color,
            $body-color 40%,
            $body-color 60%,
            $body-border-color);
    }

    > section:nth-child(even) {
        border-width: 1px 0;
        border-style: solid;

        background-color: $body-off-color;
        border-color: $body-off-border-color;
        background: linear-gradient(
            to bottom,
            $body-off-border-color,
            $body-off-color 40%,
            $body-off-color 60%,
            $body-off-border-color);
    }
}

.date-line {
    color: #222;
    line-height: 1.5em;
    margin-top: 0.5em;
    .fa {
        margin-right: 0.4em;
    }
}