em {
    font-style: italic;
}

* {
    box-sizing: border-box;
}

h1 {
    /** Note: fitting into 2 lines (3em normal), divided by font-size its 1.5em */
    font-size: 2em;
    line-height: 1em;
    margin-top: 0.75em;
    margin-bottom: 0.75em;
}

h2 {
    /** Note: fitting into 2 lines (3em normal), divided by font-size its 2em */
    font-size: 1.5em;
    line-height: 1em;
    margin-top: 1em; /* 1.5 / 1.5 = 1 */
    margin-bottom: 1em;
}

p {
    font-size: 1em;
    line-height: 1.5em;
    margin-bottom: 1.5em;
}

ul {
    margin-bottom: 1.5em;
}

li {
    font-size: 1em;
    line-height: 1.5em;
}

a {
    color: inherit;
    text-decoration: inherit;
}
a:hover {
    text-decoration: underline;
}