@import '_variables';
@import '_mixins';

html, body, #website-root, .website-layout {
    // min-height does not allow flexbox to fill for some reason
    height: 100%;
}

body {
    background-color: $body-color;
    font-family: georgia;
    font-size: 16px;
}

.website-layout {
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

// Structure for the header and the header gap
// This is so that the header and gap match in size
.main-header, .header-gap {
    font-size: 1.75em;
    line-height: 1.5em;
    padding: 0.5em 0;
}

.main-header {
    overflow: auto; /* handle the margin of inner h1 */
    /*background-color: #fbfbf4; */
    background-color: $key-color;
    border-bottom: 1px solid $key-border-color;
    color: #eee;

    white-space: nowrap;
    overflow: hidden;

    // animation for scrolling header
    transition: all 0.2s ease-in-out;
}

.main-header nav {
    float: right;

    a {
        display: inline-block;
        padding: 0 7px;
        margin-left: 5px;
        text-decoration: none;

        transition: background-color 0.2s ease-in-out;

        &:hover {
            text-decoration: none;
            background-color: $key-hover-color;
        }

        &.selected {
            background-color: $key-selected-color;
            border-radius: 3px;
        }
    }
}

.header-gap {
    display: none; // only visible if scrolling header is enabled
}

/* enable scrolling header on sufficiently large browsers */
@media screen and (min-width: $desktop-cutoff) {
    .main-header {
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 100;

        &.scrolling {
            font-size: 1.5em;
        }
    }

    .header-gap {
        // unhide the gap (make it visible)
        display: block;

        &::before {
            // non breaking spaces to add content to the gap
            content: "\00a0\00a0";
        }
    }
}

.main-footer {
    background-color: $key-color;
    border-top: 1px solid $key-border-color;
    color: #eee;

    font-size: 1em;
    line-height: 3em;

    a {
        display: inline-block;
        line-height: 1em;
        color: #eee;
        margin-left: 5px;
        padding: 5px;
        border-radius: 3px;

        &:hover {
            text-decoration: none;
            background-color: $key-selected-color;
        }
    }

    aside {
        float: right;
    }
}

.main-header .content, main .content, .main-footer .content {
    @extend .mix-centered-content;
    padding: 0 $side-buffer;
}