@import '_variables';
@import '_mixins';

html, body, #website-root, .website-layout {
    // min-height does not allow flexbox to fill for some reason
    height: 100%;
}

body {
    background-color: $body-color;
}

.website-layout {
    display: flex;
    flex-direction: column;
}

.main-header, .main-footer {
    flex: 0 0;
}

main {
    flex: 1;
}

.main-header {
    // This is so that the header and gap match in size
    .header-body, .header-gap {
        font-size: 1.75em;
        line-height: 1.5em;
        padding: 0.5em 0;
    }
}

.main-header .header-body {
    background-color: $key-color;
    border-bottom: 1px solid $key-border-color;
    color: #eee;

    overflow-x: hidden;

    // animation for scrolling header
    transition: all 0.2s ease-in-out;

    .content {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .title, nav {
        white-space: nowrap;
    }

    nav a {
        display: inline-block;
        padding: 0 7px;
        margin-left: 5px;
        text-decoration: none;
    
        transition: background-color 0.2s ease-in-out;
    
        &:hover {
            text-decoration: none;
            background-color: $key-hover-color;
        }
    
        &.selected {
            background-color: $key-selected-color;
            border-radius: 3px;
        }
    }
}

.header-gap {
    display: none; // only visible if scrolling header is enabled
}

/* enable scrolling header on sufficiently large browsers */
@media screen and (min-width: $desktop-cutoff) {
    .main-header .header-body {
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 100;

        &.scrolling {
            font-size: 1.5em;
        }
    }

    .header-gap {
        // unhide the gap (make it visible)
        display: block;

        &::before {
            // non breaking spaces to add content to the gap
            content: "\00a0\00a0";
        }
    }
}

.main-footer {
    background-color: $key-color;
    border-top: 1px solid $key-border-color;
    color: #eee;

    font-size: 1em;
    line-height: 3em;

    .content {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    a {
        display: inline-block;
        line-height: 1em;
        color: #eee;
        margin-left: 5px;
        padding: 5px;
        border-radius: 3px;

        &:hover {
            text-decoration: none;
            background-color: $key-selected-color;
        }
    }
}

.main-header .content, main .content, .main-footer .content {
    @extend .mix-centered-content;
    padding: 0 $side-buffer;
}