@import '_variables';
@import '_mixins';

html, body {
    // min-height does not allow flexbox to fill for some reason
    height: 100%;
}

body {
    background-color: $body-color;
    font-family: georgia;
    font-size: 16px;

    display: flex;
    flex-direction: column;
}

body > main {
    flex: 1;
}

body > header {
    overflow: auto; /* handle the margin of inner h1 */
    /*background-color: #fbfbf4; */
    background-color: $key-color;
    border-bottom: 1px solid $key-border-color;
    color: #eee;

    font-size: 1.75em;
    line-height: 1em;
    padding: 0.75em 0;

    white-space: nowrap;
    overflow: hidden;

    // animation for scrolling header
    transition: all 0.2s ease-in-out;
}

body > header nav {
    float: right;

    a {
        display: inline-block;
    }
}

/* implement moving header on sufficiently large browsers */
@media screen and (min-width: $desktop-cutoff) {
    body > header {
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 100;
    }

    body > header.scrolling {
        font-size: 1.5em;
    }

    body > header, .header-gap {
        font-size: 1.75em;
        line-height: 1em;
        padding: 0.75em 0;
    }

    .header-gap::before {
        content: "\007C\00a0\00a0";
    }
}

body > footer {
    background-color: $key-color;
    border-top: 1px solid $key-border-color;
    color: #eee;

    font-size: 1em;
    line-height: 3em;

    a {
        display: inline-block;
        color: #eee;
        margin-left: 10px;
    }

    aside {
        float: right;
    }
}

body > header .content, body > main .content, body > footer .content {
    @extend .mix-centered-content;
    padding: 0 $side-buffer;
}