// reset.css is third party imported.
// These are additional resets of our own to establish base styles

* {
    box-sizing: border-box;
}
em {
    font-style: italic;
}

body {
    font-family: "Segoe UI", georgia;
    font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
    font: inherit;
    vertical-align: baseline;
}

h1 {
    /** Note: fitting into 2 lines (3em normal), divided by font-size its 1.5em */
    font-size: 2em;
    line-height: 1em;
    margin-top: 0.75em;
    margin-bottom: 0.75em;
}

h2 {
    /** Note: fitting into 2 lines (3em normal), divided by font-size its 2em */
    font-size: 1.5em;
    line-height: 1em;
    margin-top: 1em; /* 1.5 / 1.5 = 1 */
    margin-bottom: 1em;
}

/** todo: h3 and up need some styling */

p {
    font-size: 1em;
    line-height: 1.5em;
    margin: 0;
    margin-bottom: 1.5em;
}

ul {
    margin-bottom: 1.5em;
}

li {
    font-size: 1em;
    line-height: 1.5em;
}

a {
    color: inherit;
    text-decoration: inherit;
    
    &:hover {
        text-decoration: underline;
    }
}

p a {
    color: #22d;
    white-space: nowrap; /* more readable on one line */
}



/* Idea from https://css-tricks.com/transitions-only-after-page-load/ */
// todo: Add a new class to counter .loading, and add a not here.
// I didn't do it yet because I don't know what I'd call it
.loading * {
    transition: none !important;
}